<section id="CONTENT">
  <section id="r-1">
    <p>Время чтения: <span>5 мин.</span></p>
    <h1>Как общаются глухие из разных стран?</h1>
  </section>
  <section id="r-2">
   <div class="title">
   ЛБ: Как слабослышащие и&nbsp;глухие люди из&nbsp;разных стран общаются друг с&nbsp;другом? Насколько отличаются жестовые языки разных стран?
   </br>
</br> ДТ: На&nbsp;самом деле, жестовые языки различаются. Слышащие думают, что во&nbsp;всем мире один жестовый язык. На&nbsp;самом деле&nbsp;&mdash; нет. Даже, например, в&nbsp;Германии и&nbsp;в&nbsp;Австрии, там один язык&nbsp;&mdash; немецкий, но&nbsp;жестовые языки совершенно разные.
У&nbsp;меня был такой опыт. Когда я&nbsp;только начал учиться, я&nbsp;не&nbsp;знал американского жестового языка. Я&nbsp;знаю русский жестовый язык. И&nbsp;моим первым соседом был китаец. И&nbsp;мы&nbsp;не&nbsp;знали, как общаться. Мы&nbsp;кое-как пользовались &laquo;языком телодвижений&raquo;. Со&nbsp;временем, когда мы&nbsp;начали учить американский жестовый язык, мы&nbsp;постепенно начали на&nbsp;него переходить.
Иногда мы&nbsp;пользуемся смешанным или, другими словами, международным жестовым языком.
</br>
</br> ЛБ: То&nbsp;есть все-таки существует международный жестовый язык?
</br>
</br> ДТ: Да, но&nbsp;это искусственный язык. Но, на&nbsp;самом деле, каждый глухой вставляет свои жесты.
</br>
</br> ЛБ: Вы&nbsp;можете рассказать о&nbsp;жестовом языке в&nbsp;России? Есть&nbsp;ли какие-то отличия по&nbsp;регионам?
</br>
</br> ДТ: Да, есть. Это то&nbsp;же самое, что говор&nbsp;&mdash; московский, питерский. Скажем, в&nbsp;Москве и&nbsp;в&nbsp;Питере кое-какие жесты отличаются. То&nbsp;же самое в&nbsp;Штатах. Одну и&nbsp;ту&nbsp;же вещь показывают по-разному. Это все зависит от&nbsp;ситуации, от&nbsp;общества, от&nbsp;региона. В&nbsp;Штатах даже есть такое понятие&nbsp;&mdash; &laquo;черный&raquo; американский жестовый язык. Имеется ввиду жестовый язык чернокожих. Там жесты отличаются.
</br>
</br> ЛБ: Есть&nbsp;ли у&nbsp;Вас надежда, что в&nbsp;России в&nbsp;ближайшем будущем изменится отношение к&nbsp;людям с&nbsp;ограниченными возможностями?
</br>
</br> ДТ: Конечно, хочется надеяться на&nbsp;это. Но&nbsp;на&nbsp;это уйдет немало времени. Чтобы отношение общества к&nbsp;подобным мне людям изменилось, его нужно прививать с&nbsp;детства. Людям в&nbsp;возрасте 30&nbsp;лет трудно это привить.
   </div>
  </section>
  <section id="r-3">
    <p>Может быть интересно</p>
    <div class="container">
      <div id="c-1" class="card">
        <h3>Как быстро запоминать жесты?</h3>
        <p>#Лайфхак</p>
      </div>
      <div id="c-2" class="card">
        <h3>Что такое
        жестовый говор?</h3>
        <p>#Лайфхак</p>
      </div>
      <div id="c-3" class="card">
        <h3>Как общаются глухие из разных стран?</h3>
        <p>#Лайфхак</p>
      </div>
      <div id="c-4" class="card">
        <h3>10 фактов о жестовом языке</h3>
        <p>#Лайфхак</p>
      </div>
      <div id="c-5" class="card">
        <h3>Топ фраз на языке жестов</h3>
        <p>#Лайфхак</p>
      </div>
      <div id="c-6" class="card">
        <h3>Как учить РЖЯ, если не знаешь с чего начать</h3>
        <p>#Лайфхак</p>
      </div>
  </section>
</section>