<section id="CONTENT">
  <section id="r-1">
    <p>Время чтения: <span>5 мин.</span></p>
    <h1>Как быстро выучить язык жестов?</h1>
    <%= link_to "Читать статью", title_path %>
  </section>
  <section id="r-2">
    <p>Разделы</p>
      <div class="titles">
        <div class="left">
          <h3>Советы по обучению</h3>
          <p>#Лайфхак</p>
        </div>
        <div class="right">
          <h3>Интересные факты</h3>
          <p>#Лайфхак</p>
        </div>
      </div>
  </section>
  <section id="r-3">
    <p>Может быть интересно</p>
    <div class="container">
      <div id="c-1" class="card">
        <h3>Как быстро запоминать жесты?</h3>
        <p>#Лайфхак</p>
      </div>
      <div id="c-2" class="card">
        <h3>Что такое
        жестовый говор?</h3>
        <p>#Лайфхак</p>
      </div>
      <div id="c-3" class="card">
        <h3>Как общаются глухие из разных стран?</h3>
        <p>#Лайфхак</p>
      </div>
      <div id="c-4" class="card">
        <h3>10 фактов о жестовом языке</h3>
        <p>#Лайфхак</p>
      </div>
      <div id="c-5" class="card">
        <h3>Топ фраз на языке жестов</h3>
        <p>#Лайфхак</p>
      </div>
      <div id="c-6" class="card">
        <h3>Как учить РЖЯ, если не знаешь с чего начать</h3>
        <p>#Лайфхак</p>
      </div>
     </div> 
  </section>
</section>