<section class="CONTENT">
    <div class="lib-1">
        <h2>Словарь жестов</h2>
        <div class="search">
          <div class="s-all">
            <div class="icon"></div>
            <input type="text" placeholder="Введите слово"></inpun>
          </div>
          <%= link_to "Искать", talkblock_path %>
        </div>
    </div>

    <div class="lib-2">
        <p>Разделы</p>
        <div class="container">
        <div id="c-1" class="card">
            <h3>Общие слова</h3>
            <div class="count"> 
                <p>Количество </br> жестов</p>
                <span>120</span>
            </div>
        </div>
        <div id="c-2" class="card">
            <h3>Алфавит</h3>
            <div class="count"> 
                <p>Количество </br> жестов</p>
                <span>32</span>
            </div>
        </div>
        <div id="c-3" class="card">
            <h3>Привет- </br> ствие</h3>
            <div class="count"> 
                <p>Количество </br> жестов</p>
                <span>5</span>
            </div>
        </div>
        <div id="c-4" class="card">
            <h3>Еда</h3>
            <div class="count"> 
                <p>Количество </br> жестов</p>
                <span>150</span>
            </div>
        </div>
        <div id="c-5" class="card">
            <h3>Дом</h3>
            <div class="count"> 
                <p>Количество </br> жестов</p>
                <span>80</span>
            </div>
        </div>
        <div id="c-6" class="card">
            <h3>Времена года</h3>
            <div class="count"> 
                <p>Количество </br> жестов</p>
                <span>4</span>
            </div>
        </div>
        <div id="c-7" class="card">
            <h3>Как </br> дела?</h3>
            <div class="count"> 
                <p>Количество </br> жестов</p>
                <span>20</span>
            </div>
        </div>
        <div id="c-8" class="card">
            <h3>Семья</h3>
            <div class="count"> 
                <p>Количество </br> жестов</p>
                <span>32</span>
            </div>
        </div>
        </div> 
    </div>

</section>
